<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <intuit>
    <ipp>
      <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json"/>
        <response serializationFormat="Json"/>
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <!--Sandbox base url to be used when dev app (consumer keys and tokens are used)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/"/>
        <!--Prod base url to be used when prod app (consumer keys and tokens are used)-->
        <!--<baseUrl qbo="https://quickbooks.api.intuit.com/" />-->
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <add key="DiscoveryAuthority" value="https://oauth.platform.intuit.com/op/v1"/>
    <!--<add key="discoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_configuration"/>-->
    <!--production-->
    <add key="discoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_sandbox_configuration/"/>
    <!--sandbox-->
    <add key="redirectURI" value="http://localhost:49372/Default.aspx"/>
    <!--not really redirected to but this matches entry in application dashboard -->
    <add key="applicationToken" value="eff8ed91b8b6bb415fba896b54f6713e2127"/>
    <add key="consumerKey" value="Q03vYw3dObUiRWcI9tuywSiRr5ViFmdMTeflgbgI99YOYtziq4"/>
    <add key="consumerSecret" value="yFrbD7BCJjZuKSNWjrl7wOOKGkVOtDvXG0Ctgwgq"/>
    <add key="oauthRequestTokenEndpoint" value="/get_request_token"/>
    <add key="oauthAccessTokenEndpoint" value="/get_access_token"/>
    <add key="oauthBaseUrl" value="https://oauth.intuit.com/oauth/v1"/>
    <add key="oauthUserAuthUrl" value="https://appcenter.intuit.com/Connect/Begin"/>
  </appSettings>
</configuration>